
.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel-inner>.item>img{
    margin: 0 auto ;/* Align slide image horizontally center */
   }
   .carousel-inner>.active{
    margin: 0 auto ;/* Align slide image horizontally center */
   }
.courses{
	display: flex;
	flex-wrap: wrap;
	margin:10px;
}

.thumbnail{
	margin: 10px;
}