/* Put your css in here */
body {
    padding-top: 0;
    padding-bottom: 20px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.jumbotron {
  padding-top:200px;
}

/** ui scroll fix classes **/
.navbar-fixed-top {
  position:absolute;
  top:100px;
}

.navbar-fixed-top.ui-scrollfix {
  position: fixed;
  top:0;
}

#ui-scroll-fix-element-1.ui-scrollfix {
  position:fixed;
  top:51px;
}