<div>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img id=" " class="img-responsive" src="/css/beef.jpg">
                </div>
                <div class="col-md-12">
                   <h1 class="page-header">TITLE{{TITLE}}
                    <small>Do it yourself</small>
                </h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum magnam sit amet deserunt, aliquid facere similique animi temporibus doloremque ex odio dolores quam, provident quis libero eos mollitia? Hic, mollitia.</p> 
                </div>
            </div>
        </div>         
    </div>
</div>