

<hr>
<div class="container">
	<div class=" row container sectionHome">

		<div class="courses">
			<div class="col-md-6">
				<img src="../images/cooking-baby-only-kitchen.jpg" class=" img-demo img-responsive img-circle">
			</div>
			<div class="col-md-9">	<h2>Welcome</h2>

				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>



			<div class=" courses">
				<div class="col-md-6">
					<img src="../images/panck.jpg" class="img-demo img-responsive img-circle">
				</div>
				<div class="col-md-9">
					<h2>Favorites</h2>
					<p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime.</p>
					
					</div>
				</div>
			
		</div> 
</div>
</div>


		<hr><!-- it draws a line -->
		<div class="container">
			<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive" src="{{recipeImg}}">
					</div>
					<div class="col-md-6">
						<h3>{{recipeTitle}}</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum magnam sit amet deserunt, aliquid facere similique animi temporibus doloremque ex odio dolores quam, provident quis libero eos mollitia? Hic, mollitia.</p> 
					</div>
				</div>
			</div>         
		</div>
		</div>
		





