<h3>Titulo pollo</h3>
<img src="../css/beef.jpg" alt="">
<div class="container">
	<p>
		I call this the magic sauce recipe. In part, because it makes everything it touches shimmer with deliciousness. It's magic like that. Technically, it's a riff on a chimichurri sauce - one that veered off the rails in a big way. Much tweaking has rendered it a distant second cousin. If that. In fact, the hallmark of that sauce, parsley, I skip entirely. But I love this. Love love love. And I use it a hundred different ways. 



Let's just start by putting one thing out there. You're best off making a double or triple batch. This is the sort of stuff you burn through in minutes. Not exaggerating. I cook eggs in it - scrambled, omelette, frittata, you name it. I drizzle it on soups. This time of year that means corn soups, brothy bean pots, or lunch time slurpy noodle bowls. I can attest it's the sort of thing that makes baked potatoes even better than usual. And salads welcome it as well - particularly shaved salads, or ones made from spicy greens. You can use it to marinate or slather ingredients before grilling or roasting. And its the sort of dressing that turns a bowl full of farro or quinoa or soba noodles into something close to a full meal - just toss in another favorite seasonal ingredient or two.   



It's as versatile as a black dress. Although, it's not really the little black dress of sauces. Think more bohemian that that - earthy, intricate and interesting. Completely approachable. The way the garlic-perfumed oil suspends flecks of rosemary, thyme, and oregano is really nice. And the rusty red tint of the paprika makes everything this sauce touches look just that much more special. If you do anything extra special with it, give a holler in the comments. I still have a half-full mason jar of it ready for business. -h  
	</p>
</div>