	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container">
	<div class="row" >
		<div class="col-md-4" >
			<!--recipies-title-->
			<h3 class="text-primary">lasagna</h3>
			
			<!--recipes-image-->	
			<img class="img-responsive recipes-image " src="../CSS/beef.jpg" alt=""> 
	 		
	 		<!--recipies-description-->		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, vel, quis. Nam quia, ut dolorem magni, recusandae neque doloremque ad minus adipisci repudiandae non provident, autem sunt eum assumenda necessitatibus!</p>				
		</div>
		<div class=" col-md-4">
			<!--recipies-title-->
			<h3 class="text-primary">lasagna</h3>
			
			<!--recipes-image-->	
			<img class="img-responsive recipes-image" src="../CSS/beef.jpg" alt=""> 
	 		
	 		<!--recipies-description-->		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, vel, quis. Nam quia, ut dolorem magni, recusandae neque doloremque ad minus adipisci repudiandae non provident, autem sunt eum assumenda necessitatibus!</p>				
		</div>
		<div class="col-md-4" >
			<!--recipies-title-->
			<h3 class="text-primary">lasagna</h3>
			
			<!--recipes-image-->	
			<img class="img-responsive recipes-image" src="../CSS/beef.jpg" alt=""> 
	 		
	 		<!--recipies-description-->		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, vel, quis. Nam quia, ut dolorem magni, recusandae neque doloremque ad minus adipisci repudiandae non provident, autem sunt eum assumenda necessitatibus!
			</p>
		</div>	
	</div>
	<div class="row" >
		<div class="col-md-4">
			<!--recipies-title-->
			<h3 class="text-primary">lasagna</h3>
			
			<!--recipes-image-->	
			<img class="img-responsive recipes-image" src="../CSS/beef.jpg" alt=""> 
	 		
	 		<!--recipies-description-->		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, vel, quis. Nam quia, ut dolorem magni, recusandae neque doloremque ad minus adipisci repudiandae non provident, autem sunt eum assumenda necessitatibus!</p>				
		</div>
		<div class=" col-md-4">
			<!--recipies-title-->
			<h3 class="text-primary">lasagna</h3>
			
			<!--recipes-image-->	
			<img class="img-responsive recipes-image" src="../CSS/beef.jpg" alt=""> 
	 		
	 		<!--recipies-description-->		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, vel, quis. Nam quia, ut dolorem magni, recusandae neque doloremque ad minus adipisci repudiandae non provident, autem sunt eum assumenda necessitatibus!</p>				
		</div>
		<div class="col-md-4">
			<!--recipies-title-->
			<h3 class="text-primary recipes-image">lasagna</h3>
			
			<!--recipes-image-->	
			<img class="img-responsive recipes-image" src="../CSS/beef.jpg" alt=""> 
	 		
	 		<!--recipies-description-->		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, vel, quis. Nam quia, ut dolorem magni, recusandae neque doloremque ad minus adipisci repudiandae non provident, autem sunt eum assumenda necessitatibus!
			</p>
		</div>	
	</div>
</div>