<h2>{{title}}</h2>

<div  class="row rowA">
    <div class="col-xs-2 moviesCont" ng-repeat="recipe in recipes">
    
        <img class="img-responsive" src="{{recipe.image_url}}" alt="">
        <h3>{{recipe.title}}</h3>
        <!-- <h4><a ng-click="url_details" value="{{recipe.url_details}}">More details..</a></h4> -->
        <button ng-model="recipeID"  ng-click="url_details ($event)" type="button" value="{{recipe.recipe_id}}" class="btn btn-default">See more..</button>    
    </div>

</div>



  <button type="button" class="btn btn-default">See more..</button>

</div>
